{% extends 'cadastros/base.html' %}
{% block title %}Controle de Autorizações de Saída{% endblock %}
{% block content %}
 <div class="d-flex justify-content-between align-items-center mb-4">
     <h1 class="mb-0">Controle de Autorizações</h1>
     <a href="{% url 'gerar_pdf_autorizacoes' %}" class="btn btn-secondary" style="background-color: #0055a4;">Gerar PDF</a>
 </div>

{% for membro in membros %}
    {% if membro.idade >= 18 %}
        {% with status_class='border-secondary' text_class='text-secondary' status_text='Não Aplicável' %}
            {% include 'partials/autorizacao_card_bootstrap.html' %}
        {% endwith %}
    {% else %}
        {% if membro.autorizacoes.all %}
            {% with status_class='border-success' text_class='text-success' status_text='Enviado' %}
                {% include 'partials/autorizacao_card_bootstrap.html' %}
            {% endwith %}
        {% else %}
            {% with status_class='border-danger' text_class='text-danger' status_text='Pendente' %}
                {% include 'partials/autorizacao_card_bootstrap.html' %}
            {% endwith %}
        {% endif %}
    {% endif %}
{% empty %}
    <p>Nenhum membro ativo cadastrado.</p>
{% endfor %}
{% endblock %}